html, body {
    @media (min-width: 1200px)
.container {
    width: 100%;
}

  }


header {
    background-color: #32DBDA;
    width: 100%;
    height: 80px;
}

nav {
    float: right;
    padding: 5px;
    padding-right: 50px;
    color: #F5F5F5;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    font-size: 16px;
    font-style: normal;
    font-weight: bolder;
    text-transform: uppercase;
}

nav ul li a {
    color: #F5F5F5;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

ul {
    list-style-type: none;
}


li {
    display: list-item;
    text-align: -webkit-match-parent;
}

nav ul li {
    font-size: 16px;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-left: 15px;
}

img {
    width: 50%;
    border: 120px;
    border-radius: 50%;
}

#pictProfile {
    width: 70px;
    height: 70px;
    margin-top: 5px;
    margin-left: 51px;
}

/* end of header */

/* start of body */
body {
    background-color: white;
    font-family: Noto Sans;
    margin: 0;
    width: 100%;
    font-size: 20px;
}

textarea {
    height: 846px;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(118, 237, 197, 0.35);
}




#textarea {
    padding: 10px;
    font-size: 20px;
    height: 546px;
    width: 783px;

}

#submit {
    background-color: #F97A66;
    width: 166px;
    height: 49px;
    border-radius: 120px;
    text-align: center;
    color: white;
    font-family: "neutra-book",Helvetica;
    width: 325px;
    margin-bottom: 3px;
    padding: 8px 26px;
    border-radius: 32px;
    border: 0 solid #ccc;
    outline: 0;
    height: 48px;
    font-weight: 600;
    font-size: 25px;
    transition: all 250ms ease-out;

}

#checking {
    color: #32DBDA;
    padding: 5px;
    margin-left: 10px;
}

div.footer {
    display: flex;
    /*background-color: rgba(2, 13, 247, 0.93);*/
    background-color: #03719f;
    flex-wrap: wrap;
}

div.credits1 {
    border-style: solid;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 5px solid black;
    margin: 10px;
    flex-grow: 1;
    font-family: fantasy;
    font-weight: normal;
    font-size: 22px;
    color: #f7f3f3;
    background-color: black;
}

div.credits {
    color: #ffffff;
    margin: 43px;
    flex-grow: 1;
    font-family: fantasy;
    font-weight: normal;
    font-size: 19px;
    color: #f7f2f2;
}
p {
    margin-left: 238px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.studentName {
    margin-left: 70px;

}

#greetingQuote{
    background-color: orange;
    height: 50px;
    width: 400px;
}

#greetingQuote{
    background-color: pink;
    height: 100px;
    width: 400px;
}


#greetingQuote2 {
    background-color: orange;
    width: 300px;
    height: 400px;
}

#textform1{
    margin-left: 20px;
}
#chatboat {
 background-color: #222A3B;
    width: 450px;
    margin-right: 17px;
    float: right;
    margin-top: -601px;
    height: 546px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 26px;
    line-height: 1.42857143;
    color: #fefbfb;
}

#chatInput {
    color--text: black;
}






