html, body {
    @media (min-width: 1200px)
.container {
    width: 100%;
}

  }



/*SEARCH BAR*/
.input-group .search {
  font-family: "neutra-book",Helvetica;
  width: 325px;
  margin-bottom: 3px;
  padding: 8px 26px;
  border-radius: 32px;
  border: 0 solid #ccc;
  outline: 0;
  height: 48px;
  font-weight: 600;
  color: #cfe6e8;
  font-size: 25px;
  transition: all 250ms ease-out;
}



/*SEARCH BUTTON*/
.btn{
  border: 1px solid #000;
  font-size: 22px;
}


.logo, .input-group{
  display: inline-block;
}
.a.logoWidth {
  width: 300px;
}

.col-xs-5 {
    width: 8.666667%;
    margin-top: 5px;
    margin-left: -19px;
}

.navbar.main {
  margin-bottom: 0px;
  margin-left: -17px;
}

/*STYLES SEARCH BY CATEGORY*/
.container-fluid {
  font-size: 16px;
  font-style: normal;
  font-weight: bolder;
  text-transform: uppercase;
  background-color: rgba(12, 248, 248, 0.43);
  
}


a {
    color: black;
    text-decoration: none;
}

.navbar-brand {
    color: #000407;
    text-decoration: none;
}


a.dropdown-toggle {
  color: black !important;
}

/*adding hoverx*/
.navbar-default .navbar-nav > li > a:hover {
    background-color:white;

    /*:#00ff00;*//* #0066ff; */ /*rgba(12, 248, 248, 0.43);*/ /*#e6e6ff; */ /*#ff00ff;*/ /* #0066ff;*/

}
.navbar-default .navbar-nav > li > a {
    color: #333;
}




.movieResults{
   margin-top: 22px;
}

.searchRow{
    display: flex;
    height: 43px;
    margin-left: 300px;
    margin-top: 15px;

}


#find {
    width: 305px;
    padding: 8px 26px;
    font-weight: 600;
    color: 05050d;
    font-size: 19px;
    -webkit-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}



/*HOME SIDEBAR*/
/*=================================*/
.container-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-right: 1px;
  padding-left: 1px; 
}



/*SIDE BAR LEFT SIDE*/
.navLeftSide{
  align-self: stretch;
  flex: 1;
  border: 1px solid #05f45a;
  max-width: 25%;
  justify-content: space-between;
}


.gallery-1 {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    justify-content: space-around;
}

.navLeftSide-table-header{
  display: flex;
  height: 35px;
  /*background-color:#e8e8e8;
  border: 2px solid black;*/
}
.secondTable {
  padding-top: 20px;
}

.secondTable-2 {
  padding-top: 20px;
}

#gallery-sideBar {
    padding: 17px;
    width: 247px;
}



/*SIDE BAR RIGTH SIDE*/
.navRightSide{
  align-self: stretch;
  flex: 1;
  max-width: 25%;
  justify-content: space-between;
  padding-left: 10px;
}


/*firstBox*/
.navLeftSide-firstBox{
  border: 2px solid black;
}

/*======  HOME MIDDLE    ======*/
.middle{
  align-self: stretch;
  flex: 2;
  /*border: 1px solid #05f45a;*/
  /*max-width: 50%;*/
  justify-content: space-between;
}

/*GALLERY*/
.gallery img:hover {
  transform:scale(1.2);
  transition: transform 500ms ease-in-out;
}

.middle{
       background-color: rgba(232, 232, 232, 0.24);
    margin-top: 27px;
    margin-left: -2px;
    display: flex;
    flex-wrap: wrap;
}


.gallery {
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
    width: 218px;
}

.itemGallery {
    display: inline-flex;
    border: 1px solid black;
    border: 1px solid #05f45a;
    margin: 10px;
    -ms-flex-positive: 1;
    font-family: fantasy;
    font-weight: normal;
    font-size: 19px;
    color: #080000;
}

.listGallery {
    -webkit-box-align: center;
    align-items: center;
    list-style: none;
    width: 304px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}




.img-title {
    font-size: 14px;
    margin-top: 159px;
    margin-left: -185px;
}


.gallery img {
    width: 200px;
    height: 150px;
    margin-top: 3px;
}

.middle-feature{
  margin-left: 238px;
}

#advertise{
  width: 268px;
  height: 99px;
}

.input-search {
    background-color: #8ff442;
    width: 256px;
    justify-content: flex-end;
    color: #140103;
    font-size: large;
    font-family: fantasy;
    font-weight: 900;
}

.SearchByTitle{
    margin: 0;
    padding: 8px 62px;
    outline: 0;
    font-size: 18px;
    transition: all 250ms ease-out;
  }


/*======= GALLERY =======*/

.container-gallery {
    width: 1190px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-right: 1px;
    padding-left: 1px;
}

.gallery-img{
    width: 200px;
    height: 150px;
    margin-top: 3px;
}

.gallery-title{
    font-size: 14px;
    margin-top: 70px;
    margin-left: -204px;
}


/*======= AllAds =======*/
.AllAds-container{
    text-align: center;
    margin-left: 44px;
    width: 1190px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-right: 1px;
    padding-left: 1px;
}

.allAds-img{
    width: 497px;
    height: 239px;
    margin-top: -18px;
    margin-bottom: 20px;
}

/*======= AllAds =======*/
.CreateAdd-container-main{
    text-align: center;
    margin-left: 44px;
    width: 1190px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-right: 1px;
    padding-left: 1px;
    margin-bottom: 30px;
    background-color: #04f604;
}


/*======= contact =======*/
.contact-container-main{
    text-align: center;
    margin-left: 44px;
    width: 1190px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-right: 1px;
    padding-left: 1px;
    margin-bottom: 30px;
    background-color: rgba(4, 157, 246, 0.13);
}

/*======= manageAdd =======*/
.manageAddEpmty-container{
  height: 180px;
}

/*======= search =======*/
.searchEmpty-container{
  height: 36px;
}


/*======= EditablePost =======*/
.EditAdd-tag{
  margin-left: 800px;
    margin-top: -48px;
    background-color: aqua;
}

.line {
    margin-top: 32px;
    margin-bottom: 27px;
    border: 19;
    border-top: 1px solid #6f0376;
    background-color: black;
}






